<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
</head>
<body>

{% include "navbar.html" %}
<div class="msg">{{ msg }}</div>

<section class="py-1">
    <div class="row mt-5">
        <div class="col-lg-8 offset-lg-2">
            <h3> Data User</h3>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <a href="/tambah_user" type="button" class="btn btn-success btn-lg"><b>Tambah User</b></a>
                </div>

            </div>

            <br>
            <table class="table" >
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>username</th>


                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                        <tr>
                            <td>{{item[0]}}</td>
                            <td>{{item[1]}}</td>
                            

                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</section>

</body>
</html>