<!DOCTYPE html>
<html>
<head>
	<title>Face Recognation menggunakan framework Django</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</head>
<body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Home</a>
      </nav>
      <center>
        <h2>SYSTEM LOGIN WEB DEVELOPMENT AUTENTIFIKASI KE - 2 DENGAN AI (ARTIFICIAL INTELLIGENCE) METODE FACE RECOGNATION</h2>
        <h4>Oleh : Muammar - 21/2006/0057/TSD/14</h4>

        <h4>Pembimbing :
            Dr. Widyastuti Andriyani, S.Kom., M.Kom
            </h4>
        <h4>Penguji :
            Dr. Bambang PDP, SE., Ak., S.Kom., MMSI
            </h4>
            <h2>PROGRAM STUDI : S2 - TEKNOLOGI INFORMASI,
            UNIVERSITAS TEKNOLOGI DIGITAL INDONESIA</h2>
	</center>


	<div class="container">
         
             <div class="form-group" style="text-align: center;">
              <img src="{{ url_for('login_video_feed') }}"  width="400" height="400" class="img-thumbnail">
            </div>
           
              
          

    </div>

    

    
</body>
</html>
